html, body, #app, .root {
  display: block;
  height: 100%;
}

body {
  font: 100% Helvetica, sans-serif;
  background-color: $black;
  color: $white;
  font-weight: 100;
  height: 100%;
}

.root {
  display: flex;
  flex-direction: column;
}
