@import 'reset';
@import 'colors';
@import 'base';
@import 'constants';
@import 'components';

.select-address {
  .large-input {
    margin-top: 50px;
    margin-bottom: 40px;
  }
}

.lookingup {
  text-align: center;
  .explain {
    margin-bottom: 60px;
  }
}
