html, body, #app, .root {
  display: block;
  height: 100%;
}

body {
  font: 100% "Source Sans Pro Light", Helvetica, sans-serif;
  height: 100%;
  background-color: $white;
  color: $black;
  font-weight: 100;
  font-size: 16px;
}

.root {
  display: flex;
  flex-direction: column;
}

.content {
  padding-top: 100px;
  padding-bottom: 20px;
}

h1, h2, h3 {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
}

h1 {
  font-size: 40px;
}

a {
  color: $black;
}

a:visited {
  color: $black;
}

.text-center {
  text-align: center;
}
