@import 'reset';
@import 'colors';
@import 'base';
@import 'constants';
@import 'components';

.select-address {
  .queryLarge {
    .explain {
      text-align: center;
    }
  }
  .large-input {
    margin-top: 50px;
    margin-bottom: 40px;
  }
}

.lookingup {
  text-align: center;
  .explain {
    margin-bottom: 60px;
  }
}

.insertabi {
  textarea {
    border: none;
    font-family: $monospace;
    font-size: 14px;
    padding: 10px;
    &:focus {
      outline: none;
    }
    margin-top: 30px;
    margin-bottom: 30px;
    min-width: 450px;
    min-height: 200px;
  }
}

.selectevents {
  .explain {
    text-align: center;
  }

  ul {
    text-align: left;
    min-width: 50%;
    margin-top: 30px;
    margin-bottom: 30px;

    li {
      margin-bottom: 15px;
      list-style: none;

      input {
        margin-right: 10px;
        position: relative;
        top: -2px;
      }
    }
  }
}

.hownotify {
  .selectedContract {
    margin-top: 0px;
  }
  .how {
    margin-top: 40px;
  }
  button {
    margin-top: 40px;
  }
}

.success {
  .details {
    font-size: 18px;
  }
  .highlight {
    font-size: 20px;
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 40px;
    text-align: center;
  }
}
